{% extends 'DtWebBundle::layout.html.twig' %}

{% block bodyattributes %}ng-app="travelplannerApp" ng-controller="travelplannerController" ng-init="init()"{% endblock %}

{% block content %}

<div class="row dt-content dt-travelplanner">

    {% verbatim %}
    <div class="row dt-planner" ng-controller="filterController" ng-init="showfilters=true; init();">
        <div class="col-lg-12 search">
            <div class="form-group">
                <form class="form-inline">
                    <input type="text" class="form-control" id="from_location" ng-model="from_location" typeahead="value for value in locations | filter:$viewValue | limitTo:8"  placeholder="van bijv. (amsterdam)"/>
                    <input type="text" class="form-control" id="to_location" ng-model="to_location" typeahead="value for value in locations | filter:$viewValue | limitTo:8"  placeholder="naar bijv. (parijs)"/>
                    <button type="submit" class="btn btn-primary" ng-click="calculateRoute()">plan reis</button>
                    <button type="button" class="btn btn-info" ng-click="addFilter()">voeg voorkeur toe</button>
                    <button type="button" class="btn btn-default" ng-click="showfilters = false" ng-show="(filters.length > 0) && (showfilters == true)">Verberg filters</button>
                    <button type="button" class="btn btn-default" ng-click="showfilters = true" ng-show="(filters.length > 0) && (showfilters == false)">Bekijk filters</button>
                </form>
            </div>
        </div>

        <div class="col-lg-12 filter" ng-show="(filters.length > 0) && (showfilters == true)">
            <div class="form-group" ng-repeat="filter in filters track by $index">
                <form class="form-inline">
                    <select class="form-control" ng-model="filter.type" ng-change="filter.value = ''">
                        <option value="locations">Stad</option>
                        <option value="pois">Bezienswaardigheid</option>
                    </select>
                    <input type="text" id="to_location" ng-if="filter.type == 'locations'" class="form-control" ng-model="filter.value" typeahead="value for value in locations | filter:$viewValue | limitTo:8" placeholder="Stad"/>
                    <input type="text" id="to_location" ng-if="filter.type == 'pois'" class="form-control" ng-model="filter.value" typeahead="value for value in pois | filter:$viewValue | limitTo:8" placeholder="Bezienswaardigheid"/>
                    <select class="form-control" ng-show="($index > 0)" ng-model="filter.method">
                        <option value="en">En</option>
                        <option value="of">Of</option>
                    </select>
                    <button type="button" class="btn btn-danger" ng-click="filters.pop($index)"><i class="glyphicon glyphicon-trash"></i></button>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-danger" ng-repeat="error in errors">{{ error }}</div>
        </div>
    </div>

    <div class="col-md-3 dt-pois" ng-controller="poiController" ng-init="init()">
        <h1>Bezienswaardigheden</h1>
        <div class="row poi" ng-repeat="poi in $parent.routePois">
            <div class="col-xs-3">
                <img src="http://placehold.it/50x50" alt="{{poi.name}}"/>
            </div>
            <div class="col-xs-9">
                <h2>{{poi.name}}</h2>
                <a href="bekijk informatie" title="Meer informatie over {{poi.name}}">Meer informatie over {{poi.name}}</a>
            </div>
        </div>
        <div class="row poi" ng-show="($parent.routePois.length == 0)">
            <div class="col-xs-12">
                <h5>Er zijn geen bezienswaardigheden gevonden voor deze route!</h5>
            </div>
        </div>
    </div>
    {% endverbatim %}


    <div class="col-md-9 dt-chart-wrap" ng-controller="mapsController" ng-init="init()">
        {% verbatim %}
        <div class="row">
            <div class="col-md-12">
                <div class="dt-map-loading-overlay" ng-show="$parent.calculatingRoute">
                    <div class="col-md-12 text-center">
                        {% endverbatim %}
                            {% image '@DtWebBundle/Resources/public/images/loading.gif' %}
                                <img src="{{ asset_url }}" alt="submitting form" title="submitting form" class="dt-map-loading-overlay-loader-image toggle"/>
                            {% endimage %}
                        {% verbatim %}
                            <h5> Bezig met berekenen van route. <small>We proberen de snelste route voor u uit te rekenen.</small></h5>
                    </div>
                </div>
                <google-map center="map.center" refresh="map.refresh" draggable="true" zoom="map.zoom">
                    <markers>
                        <marker ng-repeat="marker in markers.models" coords="marker.coords" labelContent="marker.title"></marker>
                    </markers>
                    <polyline path='polyline.path' visible='polyline.visible' editable="polyline.editable" draggable="polyline.draggable" geodesic="polyline.geodesic" stroke="polyline.stroke"></polyline>
                </google-map>
            </div>
        </div>
        {% endverbatim %}
    </div>
</div>

{% endblock %}

{% block custom_js %}

<script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>

{% javascripts '@DtWebBundle/Resources/public/js/pages/angular-google-maps.js' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

{% javascripts '@DtWebBundle/Resources/public/js/pages/travelplanner.js' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}


{% endblock %}